/* IN Css colors can  be specified using
predefine coler names
RGB
RGBA
HEX
HSL
HSLA
predifine color names morden browser support 140 nmaed colors
RGB-rgb(red ,green,blue)
color vlue between 0and 255
black:rgb(0,0,0)
White: rgb(255,255,255)
red:rgb(255,0,0)
green: rgb(0,255,0)
blue:rgb(0,0,255)
2, r
*/  
#c{
    width: 250px;
    height: 250px;
    color: rgb(255,0,0);
} 