.demo{
    border: 1px solid red;
    padding: 25px 50px 30px 70px;
}
body{
    border: 5px dotted black;
}
#marg{
    /* margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px; */

    width:200px  ;
    margin:auto
}