table{
    border: 1px solid red;
    border-collapse: collapse;
    
    /* this proert includ tr border */
    /* table-layout: fixed; */
    table-layout: auto;
    width: 100%;
}
caption{
    border: 1px solid blue;
    /* caption-side: bottom; */

}
tr{
    border: 1px solid yellow;
    /* tr  is not take boreder property */

}
th{
    border: 1px solid blue;
    height: 30px;
    padding: 5px;
    text-align: center;

}
td{
    border: 1px solid blue;
    height: 25px;
    padding: 5px;
    text-align: center;

}